/results.log
.idea
idea
.env
db.sqlite3
pycache
__pycache__
.venv
venv
/src/__pycache__
.pyc
/data_files/Switchfinder_poc.xlsx
/data_files/~$Switchfinder_poc.xlsx
/data_files/home.xlsx
/data_files/~$home.xlsx
